@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

* {
    font-family: "Inter", system-ui;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-style: normal;
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-card {
    background-color: #333;
    color: hsl(0, 0%, 100%);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 350px;
    width: 100%;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 3px solid #ddd;
}

h1.inter-titulo {
    font-family: "Inter", system-ui;
    font-size: 24px;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 10px;
}

.location {
    color: hsl(75, 94%, 57%);
    font-size: 16px;
    margin-bottom: 10px;
}

.bio {
    font-size: 14px;
    margin-bottom: 20px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.links a {
    display: block;
    background-color: #444;
    color: hsl(0, 0%, 100%);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.links a:hover {
    background-color: #555;
}

.links a:active {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}

.attribution {
    text-align: center;
    position: fixed;
    bottom: 0;
    color: azure;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 10px;
    background-color: hsl(0, 0%, 8%);
}

.attribution a {
    color: #007bff;
    text-decoration: none;
}

.attribution a:hover {
    color: #0056b3;
    text-decoration: underline;
}